<ion-content>
  <div id="loginDiv" *ngIf="!loggedIn">
    <div id="imgContainer">
      <img src="assets/imgs/login-bg/login-bg-1400" alt="" sizes="(max-width: 1400px) 100vw" srcset="
            assets/imgs/login-bg/login-bg-400.jpg 400w,
            assets/imgs/login-bg/login-bg-853.jpg 853w,
            assets/imgs/login-bg/login-bg-1168.jpg 1168w,
            assets/imgs/login-bg/login-bg-1400.jpg 1400w" />
    </div>
    <div id="loginControlsContainer">
      <img id="getFreeLogo" src="assets/imgs/misc/get-free-lg.png" alt="GET Free" />
      <div>
        <form (ngSubmit)="login()" #loginForm="ngForm" id="loginControls" class="grid-container">
          <label for="loginTextBox">Password:</label>
          <input id="loginTextBox" type="password" name="password" autofocus [(ngModel)]="password" required />
          <button id="submitButton" ion-button outline type="submit" [disabled]="!loginForm.form.valid">Submit</button>
          <span id="incorrectSpan" *ngIf="loginForm.form.valid && this.authProvider.incorrectPassword">Invalid password.</span>
        </form>
      </div>
    </div>
  </div>
</ion-content>
