<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <i class="fa fa-commenting fixed-width space-right"></i>
      <span>Our Stories</span>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <header role="banner">
    <img sizes="(max-width: 1400px) 100vw" src="assets/imgs/labouchere/labouchere-1400.jpg" alt="" srcset="
        assets/imgs/labouchere/labouchere-400.jpg 400w,
        assets/imgs/labouchere/labouchere-821.jpg 821w,
        assets/imgs/labouchere/labouchere-1132.jpg 1132w,
        assets/imgs/labouchere/labouchere-1400.jpg 1400w" />
  </header>
  <main role="main">
    <article>
      <section id="opportunityStoriesSection" *ngIf="opportunityVisible">
        <h1 class="uppercase centered">Our Stories - Opportunity</h1>
        <h5 class="centered note">(Tap a picture or title to listen to the audio.)</h5>
        <div class="soundCloud grid-container" *ngFor="let s of opportunityStories">
          <img class="audio-thumb" [src]="s.image" alt="" (click)="openSoundCloudModal(s.title, s.url)" />
          <span class="audio-title" (click)="openSoundCloudModal(s.title, s.url)">{{s.title}}</span>
        </div>
      </section>
      <section id="productStoriesSection" *ngIf="productVisible">
        <h1 class="uppercase centered">Our Stories - Product</h1>
        <h5 class="centered note">(Tap a picture or title to listen to the audio.)</h5>
        <div class="soundCloud grid-container" *ngFor="let s of productStories">
          <img class="audio-thumb" [src]="s.image" alt="" (click)="openSoundCloudModal(s.title, s.url)" />
          <span class="audio-title" (click)="openSoundCloudModal(s.title, s.url)">{{s.title}}</span>
        </div>
      </section>
    </article>
  </main>
  <get-footer></get-footer>
</ion-content>
<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col>
        <button ion-button full small color="secondary" (click)="showOpportunity()">
          <span>Opportunity</span>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button full small color="secondary" (click)="showProduct()">
          <span>Product</span>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
