page-get-our-stories {
  #stories {
    display: grid;
    grid-template-columns: auto;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
  }

  figcaption {
    text-align: center;
    color: $secondary-color;
    font-weight: bold;
  }

  @media (min-width: 1024px) {
    #stories {
      grid-template-columns: 1fr 1fr;
      max-width: inherit;
    }
  }
}
