<ion-header *ngIf="this.auth.loggedIn">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <i class="fa fa-commenting fixed-width space-right"></i>
      <span>Our Stories</span>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content *ngIf="!this.auth.loggedIn">
  <login></login>
</ion-content>
<ion-content *ngIf="this.auth.loggedIn">
  <header role="banner">
    <img sizes="(max-width: 1400px) 100vw" src="assets/imgs/labouchere/labouchere-1400.jpg" alt="" srcset="
        assets/imgs/labouchere/labouchere-400.jpg 400w,
        assets/imgs/labouchere/labouchere-821.jpg 821w,
        assets/imgs/labouchere/labouchere-1132.jpg 1132w,
        assets/imgs/labouchere/labouchere-1400.jpg 1400w" />
  </header>
  <main role="main">
    <article>
      <h1 class="uppercase centered">Our Stories</h1>
      <section id="stories">
        <figure>
          <img src="assets/imgs/misc/joe-ames-thumb.jpg" class="video-thumb" alt="Joe Ames" (click)="openVideoModal('joe-ames')" />
          <figcaption>
            Joe Ames
          </figcaption>
        </figure>
        <figure>
          <img src="assets/imgs/misc/laura-thompson-thumb.jpg" class="video-thumb" alt="Laura Thompson" (click)="openVideoModal('laura-thompson')" />
          <figcaption>
            Laura Thompson
          </figcaption>
        </figure>
        <figure>
          <img src="assets/imgs/misc/andrea-thumb.jpg" class="video-thumb" alt="Andrea Labouchere" (click)="openVideoModal('andrea-labouchere')" />
          <figcaption>
            Andrea Labouchere
          </figcaption>
        </figure>
      </section>
    </article>
  </main>
  <get-footer></get-footer>
</ion-content>
