page-compensation-plan {
  article {
    max-width: $max-grid-width;
    margin-left: auto;
    margin-right: auto;
    margin-top: $default-margin;
  }

  ul {
    list-style: none;
  }

  li {
    padding-bottom: $default-margin;
    margin-bottom: $default-margin;
    border-bottom: 1px solid #999;
  }

  .imgContainer {
    max-width: 500px;
    margin: auto;
  }

  .imgContainer img {
    display: block;
    max-width: 100%;
    margin: auto;
  }

  .pdf {
    display: inline-block;
    max-width: 30px;
    margin-top: $small-margin;
  }

  .pdf-link {
    display: inline-block;
    vertical-align: top;
    margin-top: 15px;
    text-decoration: none;
    color: $secondary-color;
    margin-left: $small-margin;
  }

  #listSection ul li {
    margin-left: -$large-margin;
  }

  #videoImg {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  @media (min-width: 992px) {
    #listSection {
      margin-left: $default-margin;
    }

    .pdf {
      display: inline-block;
      margin-top: $xsmall-margin;
      max-width: 45px;
    }
  }
}
