<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <i class="fa fa-file-text fixed-width space-right"></i>
      <span>Press Releases</span>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <header role="banner">
    <img sizes="(max-width: 1400px) 100vw" src="../../assets/imgs/staci-shapiro/staci-shapiro-1400.jpg" alt="" srcset="
        ../../assets/imgs/staci-shapiro/staci-shapiro-400.jpg 400w,
        ../../assets/imgs/staci-shapiro/staci-shapiro-924.jpg 924w,
        ../../assets/imgs/staci-shapiro/staci-shapiro-1303.jpg 1303w,
        ../../assets/imgs/staci-shapiro/staci-shapiro-1400.jpg 1400w" />
  </header>
  <main role="main">
    <article>
      <h1 class="uppercase centered">Isagenix Surpasses $5 Million for Make-A-Wish</h1>
      <section id="makeAWish">
        <img src="../../assets/imgs/misc/make-a-wish.jpg" alt="Make-A-Wish" />
      </section>
      <p class="note">(Tap a headline or image to view full press release.)</p>
      <div *ngIf="hasEntries">
        <section class="entry" *ngFor="let e of entries">
          <h3 (click)="openPressReleaseModal(e)" class="centered">{{e.title}}</h3>
          <h5 class="centered">{{e.isoDate | date }}</h5>
          <div class="grid-container">
            <img [src]="e.enclosure.url" alt="" (click)="openPressReleaseModal(e)" />
            <div [innerHTML]="e.contentSnippet"></div>
          </div>
        </section>
      </div>
      <div id="noEntries" *ngIf="!hasEntries">
        <span>Loading press releases... please wait.</span>
      </div>
    </article>
  </main>
  <get-footer></get-footer>
</ion-content>
