page-carol-elizabeth {
  h2 {
    margin-bottom: $xlarge-margin;
    color: $secondary-color;
  }

  #adam_01,
  #adam_02,
  #adam_03 {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  #adam_01 {
    margin-bottom: $xlarge-margin;
  }

  @media (min-width: 640px) {
    #adam_02 {
      float: right;
      margin-left: $default-margin;
      margin-bottom: $default-margin;
    }

    #adam_03 {
      float: left;
      margin-right: $default-margin;
      margin-bottom: $default-margin;
    }

    .grid-container {
      grid-template-columns: auto auto;
    }
  }

  @media (min-width: 1250px) {
    main {
      margin-top: 85px;
    }
  }
}
