<ion-header *ngIf="this.auth.loggedIn">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <span>IsaFYI: Carol Elizabeth</span>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content *ngIf="!this.auth.loggedIn">
  <login></login>
</ion-content>
<ion-content *ngIf="this.auth.loggedIn">
  <main role="main">
    <article>
      <button id="backBtn" (click)="goBack()">
        <i class="fa fa-caret-left"></i>&nbsp;Back</button>
      <h1 class="uppercase centered">Carol Elizabeth</h1>
      <section>
        <img id="carolHeader" src="assets/imgs/misc/carol-mother.jpg" alt="" />
        <h3 class="uppercase">Congratulations, Isagenix Millionaire* No. 274, Carol Elizabeth!</h3>
        <p>
          She’s more than a national athlete and 2013’s Ms. Figure Universe. Carol is also a devoted mother of three
          celebrating her one-year anniversary with her husband this year.
        </p>
        <p>
          Aside from the fitness titles, this 44-year-old has successfully grown her Isagenix business. In the past 20
          months, she’s rapidly earned a 4-Star Golden Circle title.
        </p>
        <p>
          But Carol wants everyone to know something: Her fitness championships are not what make her successful with
          Isagenix.
        </p>
        <p>
          Instead, she attributes the accomplishment to her children.
        </p>
        <p>
          “People think that because I’m in fitness that Isagenix automatically works for me,” points out Carol. “The
          reason I’m successful is because I’m a mom, and I don’t want to work for anyone else if I can’t be there when
          my children attend field trips, become sick, or arrive home from school.”
        </p>
        <p>
          Carol wants others to have this precious time freedom, along with optimal health, according to their unique
          definitions.
        </p>
        <p><strong>What's Your Whey?</strong></p>
        <img id="carol1" src="assets/imgs/misc/carol-e1.jpg" alt="" />
        <p>
          After having her three children, this fitness guru was a stay-at-home mother for 11 years. Over time, she
          found herself in an “unhappy” marriage.
        </p>
        <p>
          “I knew that I needed to create an income for myself to support my children,” shares Carol. “Someone had
          exposed me to a different direct selling company involved with health, but was I concerned about the
          ingredients.”
        </p>
        <p>
          As a fitness instructor and also working with another company, Carol was concerned about the message she was
          conveying to others: Just lose weight.
        </p>
        <p>
          “That company had the soy and sucralose, and really nothing else to it,” explains Carol. “It wasn’t impacting
          people’s lives, except to lose weight—not like the realistic options we have at Isagenix. So I left the
          company.”
        </p>
        <p>
          That’s when Carol began building her fitness business on the side and competing for titles. During that
          period, her friend and fellow fitness competitor Natalie introduced her to Isagenix.
        </p>
        <p>
          “I had already been a fan of the nutrition in the products, but I enjoyed that Isagenix had integrity behind
          the company as a business,” says Carol.
        </p>
        <p><strong>It's Your Life</strong></p>
        <img id="carol2" src="assets/imgs/misc/carol-e2.jpg" alt="" />
        <p>
          Carol’s lifelong journey of fitness directed her to a bigger purpose at Isagenix: personally inspiring
          others.
        </p>
        <p>
          “My passion is beyond helping people get into whatever size and fit into a bikini,” says Carol. “It’s about
          living in optimal health and happiness together. I’m not out for quick money. I’m out for stable products
          that can help people in the next 10 years—we’re all going to a great place!”
        </p>
        <p>
          Through building her team, Carol particularly enjoys sharing the personal triumphs of others.
        </p>
        <p>
          “I’ve had a woman on my team retire from teaching so she could be with her son all the time, and to me that’s
          what it’s all about,” shares Carol. “It really is about authentically helping others.”
        </p>
        <p>
          Paired with that belief, Carol also realizes that it’s the hard work she’s put into her business that has
          allowed her to achieve such rapid success.
        </p>
        <p>
          “My day to day is literally back-to-back calls all day long, but I don’t feel like it is work,” emphasizes
          Carol. “I truly want to help people from the physical and financial side because I’ve developed so much
          personally with my Isagenix business.”
        </p>
        <p>
          Now, she’s ready to celebrate her well-deserved anniversary with her husband, and give her children the life
          luxuries they deserve.
        </p>
        <p>
          “It’s funny because as my husband and I were planning our one-year anniversary vacation I said to him, ‘The
          beauty of Isagenix is that we don’t have to look for the cheapest vacation,’” laughs Carol. “Isagenix has
          impacted every area of my life for the better.”
        </p>
        <p class="disclaimer">
          * Earning levels for Isagenix Independent Associates depend on time and commitment and may vary. For more
          information visit <a href="https://www.isagenixearnings.com">IsagenixEarnings.com</a>.
        </p>
      </section>
    </article>
  </main>
  <get-footer></get-footer>
</ion-content>
