page-getting-it-right {
  ul {
    list-style: none;
  }

  li {
    padding-bottom: $default-margin;
    margin-bottom: $default-margin;
    border-bottom: 1px solid #999;
  }

  h3,
  h4 {
    text-shadow: 1px 1px 2px #999;
  }

  h3,
  h4 {
    color: #333;
    font-size: x-large;
  }

  audio {
    border: 1px solid #999;
    box-shadow: 0px 0px 10px #333;
    margin-top: $small-margin;
    width: 100%;
  }

  #fiveBillion {
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  #susanSection {
    display: block;
    max-width: 250px;
    margin: auto;
  }

  #susanSection img {
    display: inline-block;
    border: 1px solid #999;
  }

  #listSection ul li {
    margin-left: -$large-margin;
  }

  @media (min-width: 992px) {
    #listSection {
      display: block;
      margin: auto;
      padding-left: $large-margin;

      img {
        max-width: 400px;
      }
    }

    #listSection ul {
      display: inline-block;
      margin: auto;
    }
  }
}
