<ion-header *ngIf="this.auth.loggedIn">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <i class="fa fa-medkit fixed-width space-right"></i>
      <span>Health to Wealth</span>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content *ngIf="!this.auth.loggedIn">
  <login></login>
</ion-content>
<ion-content *ngIf="this.auth.loggedIn">
  <header role="banner">
    <img sizes="(max-width: 960px) 100vw" src="assets/imgs/leaving-legacies/leaving-legacies-960.jpg" alt="" srcset="
        assets/imgs/leaving-legacies/leaving-legacies-400.jpg 400w,
        assets/imgs/leaving-legacies/leaving-legacies-719.jpg 719w,
        assets/imgs/leaving-legacies/leaving-legacies-960.jpg 960w" />
    <section id="johnstonFamilySection" class="pointer">
      <img src="assets/imgs/misc/johnston-family.jpg" alt="Johnston Family Video" (click)="openVideoModal('johnston-family')" />
    </section>
    <img id="wicksQuote" src="assets/imgs/misc/wicks-quote.png" alt="" />
  </header>
  <main role="main">
    <article>
      <h1 class="uppercase centered">Health to Wealth</h1>
      <div class="grid-container">
        <section>
          <h3 class="uppercase centered">Kelley and Tyler</h3>
          <h4 class="centered">Mompreneuer Builds Family Legacy</h4>
          <img src="assets/imgs/misc/kelley-and-tyler.jpg" alt="Kelly and Tyler Video" class="video-thumb" (click)="openVideoModal('kelley-and-tyler')" />
          <p>
            Is your job demanding so much of you that you no longer have time for yourself or the ones you love? Are you struggling to
            find the energy to keep up with your children? Through faith and hard work, Kelley and Tyler found a way to make
            their lives more meaningful. This is their story.
          </p>
        </section>
        <section>
          <h3 class="uppercase centered">Laura S</h3>
          <h4 class="centered">Military Wife Builds Massive Home Business</h4>
          <img src="assets/imgs/misc/laura-s.jpg" alt="Laura S. Video" class="video-thumb" (click)="openVideoModal('laura-s')"  />
          <p>
            Are you a parent trying to keep up with your children? Are you looking for a new way to aid in supporting your family? Do
            you or someone you know have a family member in the military? Laura found a physical transformation through the
            Isagenix products, but that was only the beginning of her journey. Here is Laura’s story.
          </p>
        </section>
        <section>
          <h3 class="uppercase centered">Lisa R</h3>
          <h4 class="centered">College Graduate Creates Passive Income</h4>
          <img src="assets/imgs/misc/lisa-r.jpg" alt="Lisa R. Video" class="video-thumb" (click)="openVideoModal('lisa-r')" />
          <p>
            Lisa started out like many do – a college graduate with student loans, household expenses, and car and credit card payments
            – so she was ready to do something different. She gave Isagenix a try and found the products that help her stay
            healthy and keep up with her busy schedule are now providing her some extra income each month by doing what she
            loves. This is Lisa’s story.
          </p>
        </section>
      </div>
    </article>
  </main>
  <get-footer></get-footer>
</ion-content>
