page-eat-it-love-it-share-it {
  ul {
    list-style: none;
  }

  li {
    padding-bottom: $default-margin;
    margin-bottom: $default-margin;
    border-bottom: 1px solid #999;
  }

  .pdf {
    margin-top: 20px;
  }

  #listSection ul li {
    margin-left: -$large-margin;
    margin-top: -$default-margin;
  }

  @media (min-width: 992px) {
    #listSection {
      margin-left: $default-margin;
    }
  }
}
