<ion-header *ngIf="this.auth.loggedIn">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <i class="fa fa-thumbs-up fixed-width space-right"></i>
      <span>Getting It Right</span>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content *ngIf="!this.auth.loggedIn">
  <login></login>
</ion-content>
<ion-content *ngIf="this.auth.loggedIn">
  <header role="banner">
    <img sizes="(max-width: 1400px) 100vw" src="assets/imgs/sue-lee/sue-lee-1400.jpg" alt="Leaving Legacies" srcset="assets/imgs/sue-lee/sue-lee-400.jpg 400w,
      assets/imgs/sue-lee/sue-lee-885.jpg 885w,
      assets/imgs/sue-lee/sue-lee-1237.jpg 1237w,
      assets/imgs/sue-lee/sue-lee-1400.jpg 1400w" />
  </header>
  <main role="main">
    <article>
      <h1 class="uppercase centered">Getting it Right</h1>
      <ion-grid>
        <ion-row>
          <ion-col col-12 col-lg id="firstCol">
              <h4 class="centered">The Coming of Age of an Industry ~ By Susan Miller</h4>
            <section id="susanSection">
              <img src="assets/imgs/misc/susan-sm-thumb.jpg" alt="Susan Miller" (click)="openVideoModal()" class="video-thumb" />
            </section>
          </ion-col>
          <ion-col col-12 col-lg>
            <h4 class="centered">Multi-Level Marketing vs. Network Marketing</h4>
            <audio controls>
              <source src="https://firebasestorage.googleapis.com/v0/b/getfreeglobal.appspot.com/o/audio%2FWealthCreation_080315_NWM101_SusanM_mixdown.mp3?alt=media&token=4509ec2e-8690-4976-b715-d649120b2474">
              <p>Your device does not support native audio.</p>
            </audio>
            <p>Residual Income / Industry Expert and Isagenix Multi-Millionaire, Susan Miller, shares her knowledge of the industry
              and how
              it has evolved over the past decades. Moreover, how Isagenix is the company that simply GOT IT RIGHT.</p>
          </ion-col>
          <ion-col col-12 col-lg>
            <section id="listSection">
              <ul>
                <li class="centered">
                  <img id="isaHq" src="assets/imgs/misc/isagenix-hq.jpg" alt="" />
                </li>
                <li>
                  <span class="pdf" (click)="pdfProvider.openPdf('Isagenix Fast Facts', 'https://firebasestorage.googleapis.com/v0/b/getfreeglobal.appspot.com/o/pdf%2Fwhy-isagenix.pdf?alt=media&token=e136e958-c99e-4fc6-9880-db782fb4eb5d')">Isagenix
                    Fast Facts</span>
                </li>
                <li>
                  <span class="pdf" (click)="pdfProvider.openPdf('Economic Health and Wellness', 'https://firebasestorage.googleapis.com/v0/b/getfreeglobal.appspot.com/o/pdf%2F2018-economic-health-and-wellness.pdf?alt=media&token=00531462-f198-465e-8436-9cece00e169a')">Economic
                    Health &amp; Wellness</span>
                </li>
              </ul>
            </section>
          </ion-col>
        </ion-row>
      </ion-grid>
    </article>
  </main>
  <get-footer></get-footer>
</ion-content>
