<ion-header *ngIf="this.auth.loggedIn">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <i class="fa fa-home fixed-width space-right"></i>
      <span>Home</span>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content *ngIf="!this.auth.loggedIn">
  <login></login>
</ion-content>
<ion-content *ngIf="this.auth.loggedIn">
  <header role="banner">
    <img src="assets/imgs/main-page-bg/main-page-bg-1600.jpg" alt="Isagenix - Solutions to Transform Lives" sizes="(max-width: 1600px) 100vw"
      srcset="
          assets/imgs/main-page-bg/main-page-bg-600.jpg 600w,
          assets/imgs/main-page-bg/main-page-bg-1033.jpg 1033w,
          assets/imgs/main-page-bg/main-page-bg-1376.jpg 1376w,
          assets/imgs/main-page-bg/main-page-bg-1600.jpg 1600w" />
  </header>
  <main role="main">
    <article>
      <section>
        <img src="assets/imgs/wellness-revolution/wellness-revolution-1164.png" (click)="openVideoModal('wellness-revolution')"
          sizes="(max-width: 1164px) 100vw" alt="The Wellness Revolution" class="pointer" srcset="
            assets/imgs/wellness-revolution/wellness-revolution-600.png 600w,
            assets/imgs/wellness-revolution/wellness-revolution-817.png 817w,
            assets/imgs/wellness-revolution/wellness-revolution-1002.png 1002w,
            assets/imgs/wellness-revolution/wellness-revolution-1164.png 1164w" />
      </section>
      <div class="flex-container">
        <figure>
          <img src="assets/imgs/start-your-life/start-your-life-770.jpg" (click)="openVideoModal('start-your-life')" sizes="(max-width: 773px) 100vw"
            alt="Start Your Life (18 - 35)" class="video-thumb" srcset="
                        assets/imgs/start-your-life/start-your-life-300.jpg 300w,
                        assets/imgs/start-your-life/start-your-life-654.jpg 654w,
                        assets/imgs/start-your-life/start-your-life-770.jpg 770w" />
          <figcaption class="video-caption uppercase nowrap centered">Start Your Life (18-35)</figcaption>
        </figure>
        <figure>
          <img src="assets/imgs/enterprising-women/enterprising-women-770.jpg" (click)="openVideoModal('enterprising-women')"
            sizes="(max-width: 1198px) 100vw" alt="Enterprising Women" class="video-thumb" srcset="
                          assets/imgs/enterprising-women/enterprising-women-300.jpg 300w,
                          assets/imgs/enterprising-women/enterprising-women-536.jpg 536w,
                          assets/imgs/enterprising-women/enterprising-women-770.jpg 770w" />
          <figcaption class="video-caption uppercase nowrap centered">Enterprising Women</figcaption>
        </figure>
        <figure>
          <img src="assets/imgs/retire-wealthy/retire-wealthy-770.jpg" (click)="openVideoModal('retire-wealthy')" sizes="(max-width: 1159px) 100vw"
            alt="Retire Wealthy" class="video-thumb" srcset="
                          assets/imgs/retire-wealthy/retire-wealthy-300.jpg 300w,
                          assets/imgs/retire-wealthy/retire-wealthy-636.jpg 636w,
                          assets/imgs/retire-wealthy/retire-wealthy-770.jpg 770w" />
          <figcaption class="video-caption uppercase nowrap centered">Retire Wealthy</figcaption>
        </figure>
      </div>
    </article>
  </main>
  <get-footer></get-footer>
</ion-content>
