page-home {
  #wellnessRevolutionSection {
    margin-bottom: $default-margin;

    img {
      display: block;
      margin: auto;
    }
  }

  .flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  figure {
    min-width: 25vw;
    max-width: 45vw;

    figcaption span {
      color: $lighter-accent-color;
      display: block;
      font-size: smaller;
    }
  }

  @media (min-width: 800px) {
    .flex-container {
      flex-direction: row;
      justify-content: space-around;
    }

    figcaption span {
      display: inline !important;
    }

    #wellnessRevolutionSection {
      img {
        max-width: 75vw;
      }
    }
  }
}
