page-home {
  figure {
    max-width: 35vw;
  }

  .flex-container {
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: $default-margin;
  }

  @media (min-width: 910px) {
    .flex-container {
      flex-direction: row;
    }
  }
}
