page-why-cleanse {
  article {
    max-width: 95vw;
    margin-left: auto;
    margin-right: auto;
  }

  p {
    text-align: justify;
    letter-spacing: 0.05em;
  }

  li {
    letter-spacing: 0.05em;
  }

  #yogaGirl1 {
    display: block;
  }

  #yogaGirl2 {
    display: none;
  }

  main {
    margin-bottom: 20px;
  }

  ion-footer {
    background-color: #EFEFEF;
    border-top: 1px solid #BBB;
  }

  @media (max-width: 992px) {
    #yogaGirl1 {
      display: none;
    }

    #yogaGirl2 {
      display: block;
    }

    #imageListSection {
      max-width: 548px;
      margin: auto;
    }
  }

  @media (min-width: 768px) {
    article {
      max-width: 85vw;
      margin-left: auto;
      margin-right: auto;
    }
  }

  @media (min-width: 992px) {
    article {
      max-width: 75vw;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
