// http://ionicframework.com/docs/theming/

ion-navbar span {
  color: #333;
}

.primary-separator {
  color: #06465e;
  font-size: larger;
  font-style: italic;
  padding: 10px 5px;
  background: rgb(150, 223, 250); /* Old browsers */
  background: -moz-linear-gradient(
    top,
    rgba(150, 223, 250, 1) 1%,
    rgba(47, 190, 243, 1) 99%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    rgba(150, 223, 250, 1) 1%,
    rgba(47, 190, 243, 1) 99%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    rgba(150, 223, 250, 1) 1%,
    rgba(47, 190, 243, 1) 99%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(
      startColorstr="#96dffa",
      endColorstr="#2fbef3",
      GradientType=0
    ); /* IE6-9 */
  border-bottom: 1px solid #0d8cbb;
}

.secondary-separator {
  color: white;
  font-size: larger;
  padding: 5px 15px;
  background: rgb(182, 214, 86); /* Old browsers */
  background: -moz-linear-gradient(
    top,
    rgba(182, 214, 86, 1) 1%,
    rgba(101, 170, 60, 1) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    rgba(182, 214, 86, 1) 1%,
    rgba(101, 170, 60, 1) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    rgba(182, 214, 86, 1) 1%,
    rgba(101, 170, 60, 1) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(
      startColorstr="#b6d656",
      endColorstr="#65aa3c",
      GradientType=0
    ); /* IE6-9 */
  border-bottom: 1px solid #4a762a;
  border-top: 1px solid #8fb02c;
}

.tertiary-separator {
  color: #555;
  font-style: italic;
  padding: 5px 20px;
  background: rgb(239, 239, 239); /* Old browsers */
  background: -moz-linear-gradient(
    top,
    rgba(239, 239, 239, 1) 0%,
    rgba(207, 207, 207, 1) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    rgba(239, 239, 239, 1) 0%,
    rgba(207, 207, 207, 1) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    rgba(239, 239, 239, 1) 0%,
    rgba(207, 207, 207, 1) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(
      startColorstr="#efefef",
      endColorstr="#cfcfcf",
      GradientType=0
    ); /* IE6-9 */
  border-top: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
}

.menu-button {
  color: #444;
  padding-left: 30px;
  background: rgb(255, 255, 255); /* Old browsers */
  background: -moz-linear-gradient(
    top,
    rgba(255, 255, 255, 1) 0%,
    rgba(235, 235, 235, 1) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    rgba(255, 255, 255, 1) 0%,
    rgba(235, 235, 235, 1) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 1) 0%,
    rgba(235, 235, 235, 1) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(
      startColorstr="#ffffff",
      endColorstr="#ebebeb",
      GradientType=0
    ); /* IE6-9 */
  border-bottom: 1px solid #dedede !important;
}

.menu-button i,
ion-title i {
  color: #555;
}

ion-title span {
  color: 333;
}

.space-right {
  padding-right: 10px;
}

i.fixed-width {
  width: 25px;
}

footer {
  background-color: #393939;
  padding-top: 20px;
}

footer img {
  display: block;
  width: 85vw;
  margin: auto;
}

footer div {
  text-align: center;
  margin-top: 10px;
}

footer div span {
  color: white;
  font-style: italic;
}

footer div img {
  display: block;
  margin: auto;
  padding-bottom: 30px;
  max-width: 50vw;
}

#getQuote {
  margin: auto;
  margin-top: 35px;
  margin-bottom: 30px;
  width: 75vw;
}

@media (min-width: 800px) {
  footer div span {
    font-size: large;
  }

  footer div img {
    display: block;
    margin: auto;
    max-width: 25vw;
  }

  #getQuote {
    width: 50vw;
  }
}

.modal-wrapper {
  position: absolute;
  width: 100vw;
  height: 100vh;
}

.simple-lbl {
  color: #777;
  font-size: large;
}

#copyright {
  display: inline-block;
  font-weight: normal;
  font-size: small;
  font-style: normal;
  padding-bottom: 30px;
  color: #777;
}

@media not all and (min-height: 600px) and (min-width: 768px) {
  ion-modal ion-backdrop {
    visibility: hidden;
  }
}

@media only screen and (min-height: 0px) and (min-width: 0px) {
  .modal-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
