<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <div id="getFreeDiv">
      <img src="assets/imgs/misc/get-free.png" alt="Get Free" (click)="openPage('HomePage')" menuClose />
    </div>
    <ion-list>
      <div *ngFor="let p of pages">
        <div *ngIf="p.separatorLevel === 1" class="primary-separator">
          <span>{{p.title}}</span>
        </div>
        <div *ngIf="p.separatorLevel === 2" class="secondary-separator">
          <span>{{p.title}}</span>
        </div>
        <div *ngIf="p.separatorLevel === 3" class="tertiary-separator">
          <span>{{p.title}}</span>
        </div>
        <button *ngIf="p.component !== null" menuClose ion-item (click)="openPage(p.component)" no-lines class="menu-button">
          <i item-start class="fa fa-{{p.icon}} space-right fixed-width"></i>
          <span>{{p.title}}</span>
        </button>
      </div>
    </ion-list>
  </ion-content>
</ion-menu>
<nav id="mainNav">
  <img src="../assets/imgs/misc/get-free-lg.png" alt="Get Free" (click)="openPage('HomePage')" class="pointer" />
  <div id="navigationDiv" class="uppercase">
    <span id="homeSpan" (click)="openPage('HomePage')">Home</span>
    <div class="dropdown">
      <div class="main-menu">Movement</div>
      <div class="dropdown-content">
        <p (click)="openPage('WhyCleansePage')">Why Cleanse?</p>
        <p (click)="openPage('ProblemPage')">Problem</p>
        <p (click)="openPage('SolutionPage')">Solution</p>
      </div>
    </div>
    <div class="dropdown">
      <div class="main-menu">Opportunity</div>
      <div class="dropdown-content">
        <p (click)="openPage('TodayIsTheDayPage')">Today is the Day</p>
        <p (click)="openPage('GettingItRightPage')">Getting It Right</p>
        <p (click)="openPage('MeetOurCofounderPage')">Meet Our Cofounder</p>
      </div>
    </div>
    <div class="dropdown">
      <div class="main-menu">Money</div>
      <div class="dropdown-content">
        <p (click)="openPage('EatItLoveItShareItPage')">Eat It, Love It, Share It</p>
        <p (click)="openPage('CompensationPlanPage')">Compensation Plan</p>
      </div>
    </div>
    <div class="dropdown">
      <div class="main-menu">Company</div>
      <div class="dropdown-content">
        <p (click)="openPage('CorporateLeadershipPage')">Corporate Leadership</p>
        <p (click)="openPage('ScientificAdvisoryBoardPage')">Scientific Advisory Board</p>
        <p (click)="openPage('PressReleasesPage')">Press Releases</p>
        <p (click)="openPage('AwardsPage')">Awards</p>
      </div>
    </div>
    <div class="dropdown">
      <div class="main-menu">Product</div>
      <div id="productSubMenu" class="dropdown-content">
        <p (click)="openPage('ThirtyDayGuidePage')">30-Day Guide</p>
        <p (click)="openPage('Core_4PacksUsaPage')">Core 4 / Packs (USA)</p>
        <p (click)="openPage('SuccessStoriesPage')">Success Stories</p>
        <p (click)="openPage('SciencePage')">Science</p>
      </div>
    </div>
    <div class="dropdown">
      <div class="main-menu">Success</div>
      <div id="successSubMenu" class="dropdown-content">
        <p (click)="openPage('HealthToWealthPage')">Health to Wealth</p>
        <div id="getDiv">Global Exec Team&nbsp;
          <i class="fa fa-caret-down"></i>
        </div>
        <p (click)="openPage('GetOurMissionPage')">Our Mission</p>
        <p (click)="openPage('GetOurStoriesPage')">Our Stories</p>
        <p (click)="openPage('GetOurTeamPage')">Our Team</p>
      </div>
    </div>
  </div>
</nav>

<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
