page-health-to-wealth {
  header {
    max-height: 722px;
    overflow: hidden;
  }

  #wicksQuote {
    position: absolute;
    display: none;
  }

  .grid-container section {
    display: block;
    margin-left: auto;
    margin-right: auto;

    img {
      display: block;
      margin: auto;
      max-width: 50%;
    }

    p {
      max-width: 75%;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: $large-margin;
    }
  }

  #johnstonFamilySection {
    display: inline-block;
    position: absolute;
    top: 30px;
    left: 30px;
    width: 150px;
  }

  #johnstonFamilySection img {
    border: 4px solid #ccc;
    border-radius: 8px;
    box-shadow: 0px 0px 10px #333;
  }

  h3 {
    margin-bottom: -$small-margin;
  }

  h4 {
    color: $secondary-color;
    font-style: italic;
    font-size: smaller;
  }

  @media (min-width: 490px) {
    #wicksQuote {
      display: inherit;
      top: 130px;
      left: 13px;
      max-width: 300px;
    }
  }

  @media (min-width: 640px) {
    #johnstonFamilySection {
      top: 50px;
      left: 50px;
      width: 225px;
    }

    #wicksQuote {
      top: 200px;
      left: 35px;
      max-width: 300px;
    }

    .grid-container {
      margin: auto;
    }
  }

  @media (min-width: 768px) {
    #johnstonFamilySection {
      top: 55px;
      left: 55px;
      width: 350px;
    }

    #wicksQuote {
      top: 265px;
      left: 40px;
      max-width: 365px;
    }

    .grid-container section img {
      max-width: 35%;
    }
  }

  @media (min-width: 992px) {
    #johnstonFamilySection {
      top: 90px;
      left: 80px;
      width: 400px;
    }

    #wicksQuote {
      top: 350px;
      left: 60px;
      max-width: 485px;
    }
  }

  @media (min-width: 1200px) {
    .grid-container {
      grid-template-columns: auto auto auto;

      p {
        max-width: 100%;
      }
    }
  }

  @media (min-width: 1250px) {
    #johnstonFamilySection {
      top: 130px;
      left: 85px;
      width: 500px;
    }

    #wicksQuote {
      top: 435px;
      left: 60px;
      max-width: 567px;
    }
  }
}
