page-meet-our-cofounder {
  article {
    max-width: $max-grid-width;
    margin-left: auto;
    margin-right: auto;
  }

  #videoSection {
    display: block;
    max-width: 90%;
    margin: auto;
    margin-top: 20px;
  }

  #videoImg {
    display: inline-block;
    margin: auto;
  }

  @media (min-width: 768px) {
    #videoSection {
      max-width: 75%;
    }
  }

  @media (min-width: 992px) {
    #videoSection {
      max-width: 60%;
    }
  }
}
