<ion-header *ngIf="this.auth.loggedIn">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <i class="fa fa-usd fixed-width space-right"></i>
      <span>Compensation Plan</span>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content *ngIf="!this.auth.loggedIn">
  <login></login>
</ion-content>
<ion-content *ngIf="this.auth.loggedIn">
  <header role="banner">
    <img sizes="(max-width: 1400px) 100vw" src="assets/imgs/susan-quote/susan-quote-1400.jpg" alt="Leaving Legacies" srcset="assets/imgs/susan-quote/susan-quote-400.jpg 400w,
      assets/imgs/susan-quote/susan-quote-849.jpg 849w,
      assets/imgs/susan-quote/susan-quote-1177.jpg 1177w,
      assets/imgs/susan-quote/susan-quote-1400.jpg 1400w" />
  </header>
  <main role="main">
    <article>
      <ion-grid>
        <ion-row>
          <ion-col col-lg col-12>
            <div class="imgContainer">
              <img id="youShareTheyShareRepeat" src="assets/imgs/misc/you-share-they-share-repeat.jpg" alt="You Share, They Share, Repeat"
              />
            </div>
            <div class="imgContainer">
              <img id="videoImg" class="video-thumb" src="assets/imgs/misc/comp-plan.jpg" (click)="openVideoModal()" alt="Compensation Plan Video"
              />
            </div>
          </ion-col>
          <ion-col col-lg col-12>
            <section id="listSection">
              <div class="imgContainer">
                <img src="assets/imgs/misc/erin-quote.jpg" alt="Best food, best nutrition, best comp plan. What more could you want? - Erin Brauer (Teacher)" />
              </div>
              <ul>
                <li>
                  <span class="pdf" (click)="pdfProvider.openPdf('Global Compensation Plan', 'https://firebasestorage.googleapis.com/v0/b/getfreeglobal.appspot.com/o/pdf%2Fcompensation-plan.pdf?alt=media&token=fd28b268-a2c0-4e80-b4cc-e26b9339e94f')">Global Compensation Plan</span>
                </li>
                <li>
                  <span class="pdf" (click)="pdfProvider.openPdf('Shared Revenue Plan', 'https://firebasestorage.googleapis.com/v0/b/getfreeglobal.appspot.com/o/pdf%2Fthe-money.pdf?alt=media&token=c9a0a723-7df9-4e51-b1bb-86edb75bec7f')">Shared Revenue Plan</span>
                </li>
              </ul>
            </section>
          </ion-col>
        </ion-row>
      </ion-grid>
    </article>
  </main>
  <get-footer></get-footer>
</ion-content>
