<ion-header *ngIf="this.auth.loggedIn">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <i class="fa fa-globe fixed-width space-right"></i>
      <span>Global Movement</span>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content *ngIf="!this.auth.loggedIn">
  <login></login>
</ion-content>
<ion-content *ngIf="this.auth.loggedIn">
  <header role="banner">
    <img src="assets/imgs/main-page-bg/main-page-bg-1600.jpg" alt="Isagenix - Solutions to Transform Lives" sizes="(max-width: 1600px) 100vw"
      srcset="
          assets/imgs/main-page-bg/main-page-bg-600.jpg 600w,
          assets/imgs/main-page-bg/main-page-bg-1033.jpg 1033w,
          assets/imgs/main-page-bg/main-page-bg-1376.jpg 1376w,
          assets/imgs/main-page-bg/main-page-bg-1600.jpg 1600w" />
  </header>
  <main role="main">
    <article>
      <h1>The Entrepreneur Revolution</h1>
      <h2>A Global Movement</h2>
      <section id="mainVideos">
        <figure>
          <img src="assets/imgs/misc/next-entrepreneur.jpg" (click)="openVideoModal('next-entrepreneur')" sizes="(max-width: 1164px) 100vw"
            alt="The Entrepreneur Revolution" class="video-thumb" />
          <figcaption>The Next Entrepreneur</figcaption>
        </figure>
        <figure>
          <img src="assets/imgs/misc/joe-thumb.jpg" (click)="openVideoModal('business-future')" sizes="(max-width: 1164px) 100vw"
            alt="A Global Movement" class="video-thumb" />
          <figcaption>The Business of the 21st Century</figcaption>
        </figure>
      </section>
    </article>
  </main>
  <get-footer></get-footer>
</ion-content>
