<ion-header *ngIf="this.auth.loggedIn">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <i class="fa fa-flask fixed-width space-right"></i>
      <span>Science</span>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content *ngIf="!this.auth.loggedIn">
  <login></login>
</ion-content>
<ion-content *ngIf="this.auth.loggedIn">
  <header role="banner">
    <img sizes="(max-width: 1400px) 100vw" src="assets/imgs/isa-difference/isa-difference-1400.jpg" alt="" srcset="
        assets/imgs/isa-difference/isa-difference-400.jpg 400w,
        assets/imgs/isa-difference/isa-difference-819.jpg 819w,
        assets/imgs/isa-difference/isa-difference-1131.jpg 1131w,
        assets/imgs/isa-difference/isa-difference-1400.jpg 1400w" />
    <img id="quote" src="assets/imgs/misc/melissa-henault-quote.png" alt="" />
  </header>
  <main role="main">
    <article>
      <h1 class="uppercase centered">Science</h1>
      <div id="grid">
        <div id="leftDiv">
          <section>
            <h3>The Science - Clinical Research</h3>
            <ul>
              <li>
                <span class="pdf" (click)="pdfProvider.openPdf('Clinical Research Fast Facts', 'https://firebasestorage.googleapis.com/v0/b/getfreeglobal.appspot.com/o/pdf%2Fclinical-research-fast-facts.pdf?alt=media&token=6ed984e3-6f45-4e4c-b8a3-ac9f59c135af')">Clinical
                  Research Fast Facts</span>
              </li>
              <li>
                <span class="pdf" (click)="pdfProvider.openPdf('Isagenix in Comparison to Heart-Healthy Diet', 'https://firebasestorage.googleapis.com/v0/b/getfreeglobal.appspot.com/o/pdf%2Fisagenix-in-comparison-to-heart-healthy-diet.pdf?alt=media&token=9fe3a97f-caf4-4b35-95b0-928fe8c867d5')">Isagenix
                  in Comparison to Heart-Healthy Diet</span>
              </li>
              <li>
                <span class="pdf" (click)="pdfProvider.openPdf('Isagenix Reaches Milestone with New Long-Term Study', 'https://firebasestorage.googleapis.com/v0/b/getfreeglobal.appspot.com/o/pdf%2Fisagenix-reaches-new-milestone-with-new-long-term-study.pdf?alt=media&token=66120d02-5a1e-4ec6-bc6e-8eed40624d27')">Isagenix
                  Reaches Milestone with New Long-Term Study</span>
              </li>
            </ul>
          </section>
          <section>
            <h3>
              Isagenix Peer-Reviewed Public Studies
            </h3>
            <ul>
              <li>
                <span class="pdf" (click)="pdfProvider.openPdf('Nutrition Journal', 'https://firebasestorage.googleapis.com/v0/b/getfreeglobal.appspot.com/o/pdf%2Fnutrition-journal.pdf?alt=media&token=0ff4cfbe-cbd1-4371-a28a-1e7d98e34a47')">Nutrition
                  Journal</span>
              </li>
              <li>
                <span class="pdf" (click)="pdfProvider.openPdf('Nutrition Metabolism', 'https://firebasestorage.googleapis.com/v0/b/getfreeglobal.appspot.com/o/pdf%2Fnutrition-metabolism.pdf?alt=media&token=dc65dec9-e1b8-4b36-8247-0cff94d7c59a')">Nutrition
                  Metabolism</span>
              </li>
            </ul>
          </section>
        </div>
        <div id="rightDiv">
          <section>
            <h3>Dr. Arciero on Isagenix Clinical Research</h3>
            <img id="arcieroThumb" src="assets/imgs/misc/arciero.jpg" alt="Dr. Arciero video" (click)="openVideoModal()" />
          </section>
          <section id="lizQuoteSection">
            <img src="assets/imgs/misc/liz-lima-quote.jpg" alt="We can no longer claim ignorance. Liz Lima, Scientist, MBA; Molecular MS; Microbiology MS" />
          </section>
        </div>
      </div>
    </article>
  </main>
  <get-footer></get-footer>
</ion-content>
