page-science {
  section {
    max-width: 800px;
    margin: auto;
  }

  ul {
    list-style: none;
    padding-top: $small-margin;
    padding-bottom: $default-margin;

    li {
      margin-left: -$default-margin;
      padding-bottom: $default-margin;
      padding-top: $default-margin;
      border-bottom: 1px solid $tertiary-color;
    }
  }
}
