<ion-header *ngIf="this.auth.loggedIn">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <i class="fa fa-gavel fixed-width space-right"></i>
      <span>Our Mission</span>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content *ngIf="!this.auth.loggedIn">
  <login></login>
</ion-content>
<ion-content *ngIf="this.auth.loggedIn">
  <header role="banner">
    <img sizes="(max-width: 1400px) 100vw" src="assets/imgs/join/join-1400.jpg" alt="" srcset="
        assets/imgs/join/join-400.jpg 400w,
        assets/imgs/join/join-819.jpg 819w,
        assets/imgs/join/join-1125.jpg 1125w,
        assets/imgs/join/join-1400.jpg 1400w" />
  </header>
  <main role="main">
    <article>
      <section>
        <h1 class="uppercase centered">Our Why</h1>
        <p>
          In a world where financial stability is not a reality for most… WE BELIEVE that there is a way to create it. And, in a world
          where
          <strong>Toxic Overload</strong> and
          <strong>Nutritionally Bankrupt Food</strong> is making us sick … WE BELIEVE there is a way to change it. We are a global
          network of like-minded individuals, who have identified the worldwide challenge of living in a toxic society of
          polluted air, tainted water and a nutritionally-bankrupt food supply, wreaking havoc on us mentally and physically.
          This, coupled with the stress of an uncertain economy has given us a common interest in making a SHIFT in the status
          quo. Turning a Mission Statement … into a MOVEMENT.
        </p>
      </section>
      <div class="grid-container">
        <section id="getPartyImageSection">
          <img src="assets/imgs/misc/get-party.jpg" alt="Global Exec Team Party" />
        </section>
        <section>
          <img src="assets/imgs/misc/getpartyoverlay.jpg" alt="Global Exec Team Party Video" class="video-thumb" (click)="openVideoModal('get-party')" />
        </section>
      </div>
      <section>
        <h1 class="uppercase centered">Our Mission</h1>
        <p>
          ‘Our vision is to impact world health and free people from physical and financial pain, and in the process create the largest
          health-and-wellness company in the world.’
        </p>
      </section>
      <section>
        <img src="assets/imgs/misc/i-am-enough.jpg" alt="Our Mission Video" class="video-thumb" (click)="openVideoModal('our-mission')"
        />
      </section>
    </article>
  </main>
  <get-footer></get-footer>
</ion-content>
