page-get-our-mission {
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  #getPartyImageSection {
    margin-bottom: $default-margin;

    img {
      border: 3px solid black;
      border-radius: 10px;
      box-shadow: 0 0 10px #333;
    }
  }

  @media (min-width: 800px) {
    article section {
      margin-left: auto;
      margin-right: auto;
      max-width: 1100px;
    }

    .grid-container {
      margin-left: auto;
      margin-right: auto;
      max-width: 1100px;
      grid-template-columns: auto auto;
    }

    #getPartyImageSection {
      margin-right: $default-margin;
    }
  }
}
