<ion-header *ngIf="this.auth.loggedIn">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <i class="fa fa-heart fixed-width space-right"></i>
      <span>Adrienne Donovan</span>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content *ngIf="!this.auth.loggedIn">
  <login></login>
</ion-content>
<ion-content *ngIf="this.auth.loggedIn">
  <main role="main">
    <article>
      <button id="backBtn" (click)="goBack()">
        <i class="fa fa-caret-left"></i>&nbsp;Back</button>
      <h1 class="uppercase centered">Adrienne Donovan</h1>
      <section>
        <h3 class="uppercase centered">Congratulations, 2018 Heart of Isagenix Winner, Adrienne Donovan!</h3>
        <div class="grid-container">
          <div>
            <p>
              Your votes are in, and after weeks of anticipation, Isagenix Owners Jim and Kathy Coover took the stage to award the 2018
              Heart of Isagenix winner today at New Year Kick Off. Please join us in congratulating this incredible woman
              on her remarkable achievement.
            </p>
            <p>
              This Heart of Isagenix award recipient was nominated for her heart of service and true passion for helping others. She welcomes
              everyone on her team with open arms, showing them how to be successful in reaching their goals.
            </p>
          </div>
          <img id="heartOfIsagenixImage" src="assets/imgs/misc/heart-of-isagenix.jpg" alt="Heart of Isagenix" />
        </div>
        <p>
          Joining us from North Carolina, congratulations to Adrienne Donovan!
        </p>
        <p>
          “A mom of three beautiful children, a loving wife, sister, daughter, and friend – Adrienne is the most phenomenal team leader
          I could ever pray for,” said Amanda Smith. “She absolutely deserves this award as she has a heart to serve like
          none other.”
        </p>
        <div class="grid-container">
          <img id="adrienneImg" src="assets/imgs/misc/heart-of-isa-adrienne-donovan.jpg" alt="Adrienne Donovan" />
          <div>
            <p>
              “When I started this business, I was looking for a solution to raise money for my son who has Down syndrome, and Isagenix
              has brought us that solution and so much more,” said Adrienne. “I am so humbled and honored. If you are new
              with Isagenix, just know that you have such a gift here.”*
            </p>
            <p>
              Thank you for nominating leaders and team members who consistently serve. The hundreds of nominations we received are proof
              that we have an unmatched culture that is truly impacting lives. Stay tuned to IsaFYI.com/Recognition for more
              voters’ choice recognition opportunities!
            </p>
          </div>
        </div>
        <p class="disclaimer">
          * The ability to earn income under the Isagenix Compensation Plan depends on many factors including an individual Associate’s
          business, social, and sales skills; personal ambition and activity; availability of time and financial resources;
          and access to a large network of family, friends, and business contacts. Isagenix cannot and does not guarantee
          any particular level of earnings. Even Associates who dedicate a significant amount of time, effort, and personal
          funds may not achieve a meaningful level of success. For average earnings, refer to IsagenixEarnings.com.
        </p>
      </section>
    </article>
  </main>
  <get-footer></get-footer>
</ion-content>
