<ion-header *ngIf="this.auth.loggedIn">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <i class="fa fa-star fixed-width space-right"></i>
      <span>Helen Costa-Giles</span>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content *ngIf="!this.auth.loggedIn">
  <login></login>
</ion-content>
<ion-content *ngIf="this.auth.loggedIn">
  <main role="main">
    <article>
      <button id="backBtn" (click)="goBack()">
        <i class="fa fa-caret-left"></i>&nbsp;Back</button>
      <h1 class="uppercase centered">Helen Costa-Giles</h1>
      <section>
        <h3 class="uppercase centered">Congratulations, 2017 IsaBody Champion, Helen Costa-Giles!</h3>
        <img id="helenImg01" src="assets/imgs/misc/helen-00.jpg" alt="Helen Costa-Giles, IsaBody Grand Prize Champion" />
        <p>
          When Helen Costa-Giles heard her name announced on stage at Celebration as the 2017 IsaBody Challenge® Grand Prize Winner,
          at first she was frozen.
        </p>
        <p>
          A big believer in the power of visualization, Helen visualized her name being called, but even when it happened, she still
          wasn’t prepared to hear it.
        </p>
        <p>
          “I was in shock,” she said.
        </p>
        <h4>Finding the Solution</h4>
        <p>
          Helen’s journey to the Celebration stage was not easy. It took years and multiple Challenges to earn the title of grand prize
          winner. As a busy career woman and mom to two young boys, Helen knew that she needed a solution after an annual
          visit to her doctor helped her realize how bad her health was. She was obese. Until that point, Helen thought that
          being tired and overweight was typical for working moms. She didn’t know there was an answer until she learned
          about Isagenix and the IsaBody Challenge.
        </p>
        <p>
          From the time she started using the products and participating in IsaBody™ until now, Helen has released 90 pounds* and developed
          lean muscle. She participates in Spartan Races and holds free, early morning workouts in her garage for people
          in her community interested in starting their own health and fitness journeys. Helen also volunteers in her community
          and most recently made a difference by sending Isagenix products to those affected by Hurricane Harvey, which hit
          near her hometown of San Antonio, Texas.
        </p>
        <img id="helenImg02" src="assets/imgs/misc/helen-01.jpg" alt="Helen Costa-Giles with Other IsaBody Finalists" />
        <h4>Sharing Her Message</h4>
        <p>
          Helen says she will use her new status as IsaBody Grand Prize Winner to “pour belief into others.” She was hoping to win,
          not only because of the US$25,000 check – although that came in handy – but because she wants to use the platform
          to share her message.
        </p>
        <p>
          “I have such a big message to share, and I know I’m really good at it,” she said. “I want to be that everyday person. I want
          my story to show people that I’m not just a mom. I’m a career woman. I know if I tell everyone how I got here,
          they’re going to say, ‘oh, my god, if she could do it, why can’t I?”’
        </p>
        <h4>Helping Others Start, Complete, and Repeat</h4>
        <div class="grid-container">
          <img id="helenImg03" src="assets/imgs/misc/helen-02.jpg" alt="Helen Costa-Giles" />
          <div>
            <p>
              When it comes to her team, Helen is on a mission to help them join IsaBody. Because she’s completed multiple Challenges,
              she knows what it takes to experience a successful 459a1517-1transformation. When it comes to helping others
              start, complete, and repeat, Helen has three suggestions:
            </p>
            <p>
              1) Remind others what they want to focus on regarding their health and wellness goals.
            </p>
            <p>
              2) Encourage your team to use the Challenge as a tool. While earning a $200 product coupon and an IsaBody T-shirt is a nice
              incentive, Helen encourages others to “cast a vision” and create action items in addition to earning a T-shirt
              and product voucher.
            </p>
            <p>
              3) Get everyone who is struggling with the Challenge to share their stories. Your story is the most important part of this
              journey, and writing the IsaBody essay makes your story shareable to others.
            </p>
            <p>
              “When people tell me they want to lose 10 pounds, I dig deep to find out what that 10 pounds is going to do for their life,”
              Helen said.
            </p>
          </div>
        </div>
        <h4>Family First</h4>
        <p>
          For Helen, it all comes down to family. While listening to Tony Robbins at Celebration 2017, Helen thought about her husband
          and sons and how thankful she was for their support during the IsaBody Challenge.
        </p>
        <img id="helenImg04" src="assets/imgs/misc/helen-03.jpg" alt="Helen Costa-Giles with Family" />
        <p>
          “Now my family is a big part of it. We talk about how many people we are going to help,” she said. “Going forward, my Isagenix
          business is going to be a family goal, instead of a Helen goal.”
        </p>
        <p class="disclaimer">
          * Results not typical. Weight loss, muscle gain, lifestyle, and other results depicted here reflect exceptional individual
          experiences of Isagenix Customers and should not be construed as typical or average. Results vary with individual
          effort, body composition, eating patterns, time, exercise, and other factors, such as genetic and physiological
          makeup. In a two-phase study performed from 2015-2016 by Skidmore College in New York, researchers evaluated use
          of Isagenix products for weight loss. As part of the weight loss phase, the participants took part in a calorie-controlled
          regimen of Shake Days and one Cleanse Day per week and lost an average of 24 pounds after 12 weeks. View the study
          results.
        </p>
      </section>
    </article>
  </main>
  <get-footer></get-footer>
</ion-content>
