page-get-our-stories {
  #storyGrid {
    display: grid;
    grid-template-columns: auto;
  }

  .video-container {
    display: grid;
    grid-template-columns: auto 1fr;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    span {
      font-size: 11pt;
      margin-left: 12px;
      margin-right: 12px;
    }
  }

  .video-container:hover {
    background-color: #FFEDE1;
  }

  .video-container span i {
    color: #FF6600 !important;
  }

  .title, .author {
    display: inline-block;
    font-style: normal;
    margin-right: -10px !important;
    font-size: large !important;
  }

  @media (min-width: 800px) {
    #storyGrid {
      grid-template-columns: 1fr 1fr;

      #business {
        margin-right: 20px;
      }

      #product {
        margin-left: 20px;
      }
    }
  }
}
