<ion-header *ngIf="this.auth.loggedIn">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <i class="fa fa-commenting fixed-width space-right"></i>
      <span>Our Stories</span>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content *ngIf="!this.auth.loggedIn">
  <login></login>
</ion-content>
<ion-content *ngIf="this.auth.loggedIn">
  <header role="banner">
    <img sizes="(max-width: 1400px) 100vw" src="assets/imgs/labouchere/labouchere-1400.jpg" alt="" srcset="
        assets/imgs/labouchere/labouchere-400.jpg 400w,
        assets/imgs/labouchere/labouchere-821.jpg 821w,
        assets/imgs/labouchere/labouchere-1132.jpg 1132w,
        assets/imgs/labouchere/labouchere-1400.jpg 1400w" />
  </header>
  <main role="main">
    <article>
      <h1 class="uppercase centered">Our Stories</h1>
      <div id="storyGrid">
        <section id="business">
          <h3>Business Testimonials</h3>
          <div class="video-container" (click)="openVideoModal('joe-ames')">
            <span class="icon"><i class="fa fa-film"></i></span>
            <div><span class="title">Joe Ames</span></div>
          </div>
          <div class="video-container" (click)="openVideoModal('erin-brauer')">
            <span class="icon"><i class="fa fa-film"></i></span>
            <div><span class="title">Erin Brauer</span></div>
          </div>
          <div class="video-container" (click)="openVideoModal('adrienne-donovan')">
            <span class="icon"><i class="fa fa-film"></i></span>
            <div><span class="title">Adrienne Cross Donovan</span></div>
          </div>
          <div class="video-container" (click)="openVideoModal('melissa-henault')">
              <span class="icon"><i class="fa fa-film"></i></span>
              <div><span class="title">Melissa Henault</span></div>
            </div>
          <div class="video-container" (click)="openVideoModal('andrea-labouchere')">
            <span class="icon"><i class="fa fa-film"></i></span>
            <div><span class="title">Andrea Labouchere</span></div>
          </div>
          <div class="video-container" (click)="openVideoModal('laura-thompson')">
            <span class="icon"><i class="fa fa-film"></i></span>
            <div><span class="title">Laura Thompson</span></div>
          </div>
          <div class="video-container" (click)="openVideoModal('jen-louie-towkaniuk')">
            <span class="icon"><i class="fa fa-film"></i></span>
            <div><span class="title">Jen &amp; Louie Towkaniuk</span></div>
          </div>
        </section>
        <section id="product">
          <h3>Product Testimonials</h3>
          <div class="video-container" (click)="openVideoModal('nancy-baxter')">
            <span class="icon"><i class="fa fa-film"></i></span>
            <div><span class="title">Nancy Baxter</span></div>
          </div>
          <div class="video-container" (click)="openVideoModal('helen-costa-giles')">
            <span class="icon"><i class="fa fa-film"></i></span>
            <div><span class="title">Helen Costa Giles</span></div>
          </div>
          <div class="video-container" (click)="openVideoModal('patty-macnaught')">
            <span class="icon"><i class="fa fa-film"></i></span>
            <div><span class="title">Patty MacNaught</span></div>
          </div>
          <div class="video-container" (click)="openVideoModal('jen-towkaniuk')">
            <span class="icon"><i class="fa fa-film"></i></span>
            <div><span class="title">Jen Towkaniuk</span></div>
          </div>
          <div class="video-container" (click)="openVideoModal('joanne-wright')">
            <span class="icon"><i class="fa fa-film"></i></span>
            <div><span class="title">Joanne Wright</span></div>
          </div>
        </section>
      </div>
    </article>
  </main>
  <get-footer></get-footer>
</ion-content>
