page-how-it-works {
  .grid-container {
    grid-template-columns: auto;
  }

  ul {
    list-style: none;
    margin-top: -$small-margin;
  }

  li {
    margin-top: $default-margin;
    margin-bottom: $default-margin;
    border-bottom: 1px solid #999;
    padding-bottom: $default-margin;

    p {
      margin-bottom: $small-margin;
    }
  }

  #listSection {
    margin: auto;

    ul {
      margin-left: -$large-margin;
    }
  }

  .video-container {
    margin: auto;
    margin-bottom: $default-margin;
  }

  .name {
    font-size: smaller;
  }

  p {
    margin-bottom: 5px;
  }

  audio {
    background-color: white;
    width: 100%;
  }

  @media (min-width: 892px) {
    .grid-container {
      grid-template-columns: auto auto auto;
    }

    .video-container {
      margin: inherit;
      margin-left: $large-margin;
    }
  }
}
